$bg-white:#FFF;
$bg-platinum:#E6E7E7;
$bg-lightgray:#D1D1D1;
$bg-fuzzywuzzy :#E56353;
$bg-ruddypink:#D76C69;
$bg-spanishpink:#ECBCBA;
$bg-eerieblack:#121616;
$bg-raisinblack:#222323;
$bg-nickel:#6C6E70;

$max-width: 100%;
$font-family-roboto: 'Roboto', sans-serif;


$xx-size:70px;
$x-size:30px;
$l-size:18px;
$m-size:16px;
$s-size:12px;